body {
    max-width: 500px;
}

.profile_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* padding-left: 20px; */
}
#profile_name {
    font-size: large;
    font-weight: bold;
    color: rgb(63, 63, 63);
}
.centerflex {
    display: flex;
    align-items: center;
}
.fractal {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.pfp {
    /* display: inline-block;  */
    /* position: relative;  */
    width: 75px; 
    height: 75px; 
    overflow: hidden; 
    border-radius: 50%; 
}
.sharing {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center
}
#flexy_l {
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
 